<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/sidebar.css">
</head>
<body>
    <div class="sidebar">
        <div class="logo">
            <img src="/assets/images/logo.png" alt="" class="hero">
        </div>
        <div class="menu">
            <li>
                <a href="#"><img src="/assets/svg/admin.svg" alt="">Admin<img src="/assets/svg/down_arrow.svg" alt=""></a>
                
                <div class="sub-menu-1 ">
                    <ul>
                        <li><a href="#"><img src="/assets/svg/staff.svg" alt="">Staff/Trainers</a>
                        </li>
                        <li><a href="#"><img src="/assets/svg/membership.svg" alt="">Membership</a>
                        </li>
                        <li><a href="#"><img src="/assets/svg/All_classes.svg" alt="">All Classes</a>
                        </li>
                        <li><a href="#"><img src="/assets/svg/attendance.svg" alt="">Attendance</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#"><img src="/assets/svg/member.svg" alt="">All members</a></li>
            <li><a href="#"><img src="/assets/svg/trainer.svg" alt="">Trainer</a></li>
            <li><a href="#"><img src="/assets/svg/trainee.svg" alt="">Trainee</a></li>
            <li><a href="#"><img src="/assets/svg/health.svg" alt="">Health Updates</a></li>
            <li><a href="#"><img src="/assets/svg/payment.svg" alt="">Member Payment</a></li>
            <li><a href="#"><img src="/assets/svg/plan.svg" alt="">Plan</a></li>

        
        </div>
    </div>
    <script src="/js/sidebar.js"></script>
</body>
</html>